<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui header">
      <div class="content">Sign up now
      </div>
    </h2>
    <%= form_for @user, html: {class: "ui large form"} do |el| %>
    <div class="field">
      <%= el.text_field :name, placeholder: "Username" %>
    </div>
    <div class="field">
      <%= el.text_field :email, placeholder: "Email address" %>
    </div>
    <div id="camera"></div>
  

  <%= el.cl_image_upload :user_image, class: "hideme" %>

      <%= el.button "Sign Up", class: "ui large button", id: "capture", type: "button" %>
    <% end %>
  </div>
</div>
